<a class='page saved'>
  <svg role="img" class="cms-icon page"><use href="/spritemap.svg#sprite-page-texty"></use></svg>
  <span class='title'></span>
</a>
<span class="unsaved" data-cms="true">
  <svg role="img" class="cms-icon page"><use href="/spritemap.svg#sprite-page-illustrated"></use></svg>
  <span class='edit_title' data-placeholder="${scope.t.placeholders.page.new_title}" contenteditable="true"></span>
  <a class="save inline">
    <svg class="cms-icon"><use href="/spritemap.svg#sprite-save_button"></use></svg>
  </a>
</span>
<a class='remove'>
  <svg class="cms-icon"><use href="/spritemap.svg#sprite-cross_button"></use></svg>
</a>
