<div class="cms-embed-controls"></div>
<h2 class="toc_title" contenteditable="true" data-placeholder='${scope.t.placeholders.page.toc_title}'></h2>
<ul class="collection cms-page-list"></ul>
<div class="actions" data-cms="true">
  <a class="pick">
    <svg class='icon filled'>
    	<use href="/spritemap.svg#sprite-page"></use>
    </svg>
    <span class="label">${scope.t.buttons.choose_page}</span>
  </a>
  <a class="add">
    <svg class='icon filled'>
    	<use href="/spritemap.svg#sprite-plus_button"></use>
    </svg>
    <span class="label">${scope.t.buttons.create_child_page}</span>
  </a>
</div>