<ul class="actions">
  <li>
    <a class='cms-control save default-unavailable'>
      <svg class="cms-icon">
        <use href="/spritemap.svg#sprite-save_button"></use>
      </svg>
      <span class='label'>
        ${scope.t.buttons.save_page}
      </span>
    </a>
  </li>
  <li>
    <a class='cms-control publish default-unavailable'>
      <svg class="cms-icon">
        <use href="/spritemap.svg#sprite-publish_button"></use>
      </svg>
      <span class='label'>
        ${scope.t.buttons.publish_page}
      </span>
    </a>
  </li>
  <li>
    <a class='cms-control view default-unavailable' target='_blank'>
      <svg class="cms-icon">
        <use href="/spritemap.svg#sprite-page_button"></use>
      </svg>
      <span class='label'>
        ${scope.t.buttons.see_page}
      </span>
    </a>
  </li>
</ul>
<div class="progress"></div>