<span class="indent"></span>
<a class="toggle">
  <svg class="cms-icon">
    <use xlink:href="/spritemap.svg#sprite-next_bare"></use>
  </svg>
</a>
<span class="detail saved">
  <a class="page">
    <svg class="cms-icon page">
      <use class="content" href="/spritemap.svg#sprite-page"></use>
    </svg>
    <span class="title"></span>
    <br/>
    <span class="path"></span>
  </a>
  <span class="actions">
    <a class="delete">
      <svg class="cms-icon">
        <use href="/spritemap.svg#sprite-cross_button"></use>
      </svg>
    </a>
    <a class="review" target="_blank">
      <svg class="cms-icon">
        <use href="/spritemap.svg#sprite-show_button"></use>
      </svg>
    </a>
  </span>
</span>
<span class="unsaved" data-cms="true">
  <svg class="cms-icon page">
    <use class="content" href="/spritemap.svg#sprite-page"></use>
  </svg>
  <span class='edit_title' data-placeholder="${scope.t.placeholders.page.new_title}" contenteditable="true"></span>
  <a class="save inline">
    <svg class="cms-icon"><use href="/spritemap.svg#sprite-save_button"></use></svg>
  </a>
</span>
