<div class='cms-buttons'><a class='control show' title='${scope.t.tooltips.insert_something}'>
  <svg class="cms-icon">
    <use href="/spritemap.svg#sprite-plus_bare"></use>
  </svg>
</a><a class='control add page' title='${scope.t.tooltips.insert_pages}'>
  <svg class="cms-icon">
    <use href="/spritemap.svg#sprite-page"></use>
  </svg>
</a><a class='control add image' title='${scope.t.tooltips.insert_image}'>
  <svg class="cms-icon">
    <use href="/spritemap.svg#sprite-image"></use>
  </svg>
</a><a class='control add video' title='${scope.t.tooltips.insert_video}'>
  <svg class="cms-icon">
    <use href="/spritemap.svg#sprite-video"></use>
  </svg>
</a><a class='control add document' title='${scope.t.tooltips.insert_document}'>
  <svg class="cms-icon">
    <use href="/spritemap.svg#sprite-document"></use>
  </svg>
</a><a class='control add quote' title='${scope.t.tooltips.insert_quote}'>
  <svg class="cms-icon">
    <use href="/spritemap.svg#sprite-quote"></use>
  </svg>
</a><a class='control add note' title='${scope.t.tooltips.insert_note}'>
  <svg class="cms-icon">
    <use href="/spritemap.svg#sprite-note"></use>
  </svg>
</a>
  <a class='control add customTest' title='customTest'>
    <svg class="cms-icon">
      <use href="/spritemap.svg#sprite-pre_button"></use>
    </svg>
  </a>
</div>
