<div class='cms-menu'>
  <a class='control properties menu-head'>
    <svg class='icon filled'>
      <use href="/spritemap.svg#sprite-cog_button"></use>
    </svg>
  </a>
  <div class='menu-body'>
    <a class='close'>
      <svg class="cms-icon">
        <use href="/spritemap.svg#sprite-close"></use>
      </svg>
    </a>
    <h3>
      <span class='label'>
        ${scope.t.headings.layout}
      </span>
    </h3>
    <div class='asset_settings'>
      <div class='placements'><a class='placement thumb' data-placement='thumb'>
        <svg class="cms-icon">
          <use href="/spritemap.svg#sprite-placement_thumb"></use>
        </svg>
      </a>
      <a class='placement full' data-placement='full'>
        <svg class="cms-icon">
          <use href="/spritemap.svg#sprite-placement_full"></use>
        </svg>
      </a>
      <a class='placement right' data-placement='right'>
        <svg class="cms-icon">
          <use href="/spritemap.svg#sprite-placement_right"></use>
        </svg>
      </a></div>
    </div>
  </div>
</div>
