<a class="cms-button cms-chooser-head">
  <svg class="cms-icon filled"><use href="/spritemap.svg#sprite-document"></use></svg>
</a>

<div class="cms-chooser-body assets">
  <a class="close">
    <svg class="cms-icon"><use href="/spritemap.svg#sprite-close"></use></svg>
  </a>
  <ul class='options'>
    <li>
      <label class="choose upload">
        <svg class="cms-icon"><use href="/spritemap.svg#sprite-upload"></use></svg>
        <span class='label'>${scope.t.assets.upload_document}</span>
        <input type='file' class="upload" name="document_file">
      </label>
    </li>
    <li>
      <a class="choose reuse">
        <svg class="cms-icon"><use href="/spritemap.svg#sprite-document_button"></use></svg>
        <span class='label'>${scope.t.assets.reuse_document}</span>
      </a>
    </li>  
  </ul>
  <div class='progress'></div>
  <div class='action'></div>
</div>
