<div class='cms-buttons'>
  <a class='control hide' title='${scope.t.tooltips.block_p}'>
	<svg class="cms-icon">
		<use href="/spritemap.svg#sprite-x"></use>
	</svg>
  </a><a class='control show' title='${scope.t.tooltips.block_p}'>
  	<svg class="cms-icon">
  		<use href="/spritemap.svg#sprite-p"></use>
  	</svg>
  </a><a class='control' title='${scope.t.tooltips.block_p}' data-tagname="p">
  	<svg class="cms-icon">
  		<use href="/spritemap.svg#sprite-p_button"></use>
  	</svg>
  </a><a class='control' title='${scope.t.tooltips.block_h2}' data-tagname="h2">
  	<svg class="cms-icon">
  		<use href="/spritemap.svg#sprite-h2_button"></use>
  	</svg>
  </a><a class='control' title='${scope.t.tooltips.block_h3}' data-tagname="h3">
  	<svg class="cms-icon">
  		<use href="/spritemap.svg#sprite-h3_button"></use>
  	</svg>
  </a><a class='control' title='${scope.t.tooltips.block_ul}' data-tagname="ul">
  	<svg class="cms-icon">
  		<use href="/spritemap.svg#sprite-ul_button"></use>
  	</svg>
  </a><a class='control' title='${scope.t.tooltips.block_ol}' data-tagname="ol">
  	<svg class="cms-icon">
  		<use href="/spritemap.svg#sprite-ol_button"></use>
  	</svg>
  </a><a class='control' title='${scope.t.tooltips.block_pre}' data-tagname="pre">
  	<svg class="cms-icon">
  		<use href="/spritemap.svg#sprite-pre_button"></use>
  	</svg>
  </a>
</div>
