<div class="cms-bg">
  <div class='cms-buttons'><a class='control bold' title='${scope.t.tooltips.inline_bold}' data-cms-format="bold">
  <svg class="cms-icon">
    <use href="/spritemap.svg#sprite-bold_button"></use>
  </svg>
  </a><a class='control bold' title='${scope.t.tooltips.inline_italic}' data-cms-format="italic">
    <svg class="cms-icon">
      <use href="/spritemap.svg#sprite-italic_button"></use>
    </svg>
  </a><a class='control italic' title='${scope.t.tooltips.inline_underline}' data-cms-format="underline">
    <svg class="cms-icon">
      <use href="/spritemap.svg#sprite-underline_button"></use>
    </svg>
  </a><a class='control strikethrough' title='${scope.t.tooltips.inline_strikethrough}' data-cms-format="strikethrough">
    <svg class="cms-icon">
      <use href="/spritemap.svg#sprite-strikethrough_button"></use>
    </svg>
  </a><a class='control anchor' title='${scope.t.tooltips.inline_anchor}' data-cms-format="anchor">
    <svg class="cms-icon">
      <use href="/spritemap.svg#sprite-anchor_button"></use>
    </svg>
  </a><a class='control code' title='${scope.t.tooltips.inline_code}' data-cms-format="code">
    <svg class="cms-icon">
      <use href="/spritemap.svg#sprite-pre_button"></use>
    </svg>
  </a></div>
</div>
<div class='cms-pointer down'></div>
