<a class="cms-button cms-chooser-head">
  <svg class="cms-icon filled"><use href="/spritemap.svg#sprite-image"></use></svg>
</a>

<div class="cms-chooser-body assets">
  <a class="close">
    <svg class="cms-icon"><use href="/spritemap.svg#sprite-close"></use></svg>
  </a>
  <ul class='options'>
    <li>
      <label class="choose upload">
        <svg class="cms-icon"><use href="/spritemap.svg#sprite-upload"></use></svg>
        <span class='label'>${scope.t.assets.upload_image}</span>
        <input type='file' class="upload" name="image_file">
      </label>
    </li>
    <li>
      <a class="choose import">
        <svg class="cms-icon"><use href="/spritemap.svg#sprite-download"></use></svg>
        <span class='label'>${scope.t.assets.import_image}</span>
      </a>
    </li>  
    <li>
      <a class="choose reuse">
        <svg class="cms-icon"><use href="/spritemap.svg#sprite-image_button"></use></svg>
        <span class='label'>${scope.t.assets.reuse_image}</span>
      </a>
    </li>  
    <li>
      <a class="choose remove">
        <svg class="cms-icon"><use href="/spritemap.svg#sprite-cross"></use></svg>
        <span class='label'>${scope.t.assets.remove_image}</span>
      </a>
    </li>
    <li>
      <a class="choose resize">
        <svg class="cms-icon"><use href="/spritemap.svg#sprite-image_button"></use></svg>
        <span class='label'>${scope.t.assets.resize_image}</span>
      </a>
    </li>
  </ul>
  <div class='progress'></div>
  <div class='action'></div>
</div>
