<h3>
  <a class='back'>
    <svg class="cms-icon">
      <use href="/spritemap.svg#sprite-prev_bare"></use>
    </svg>
    <span class='label'>
      ${scope.t.headings.reuse_image}
    </span>
  </a>
</h3>

<div class="filter"><input class='q' placeholder='${scope.t.placeholders.image.filter}' type='text'><a class='button filter'>
  <svg class="cms-icon">
    <use href="/spritemap.svg#sprite-search"></use>
  </svg>
</a><a class='button reset'>
  <svg class="cms-icon">
    <use href="/spritemap.svg#sprite-close"></use>
  </svg>
</a></div>

<div class="pick list"></div>
